$theme-colors: (
    'primary': #a874c0,
    'secondary': #8ab5e8,
    'success': #5d8f47,
    'dark': rgba(59, 59, 59, 0.8),
);

$primary_light: #daa3f3;
$primary: #a874c0;
$primary_dark: #78478f;

$secondary_light: #bde6ff;
$secondary: #8ab5e8;
$secondary_dark: #5985b6;

$tertiary_light: #bdf3a3;
$tertiary: #8cc074;
$tertiary_dark: #5d8f47;

$border-radius: 1rem;
