<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Time Punch</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width initial-scale=1.0" />
        <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
            integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
            crossorigin="anonymous"
        />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    </head>
    <body>
        <header>
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <a class="navbar-brand" href="/employee_dash">Fake Corp.</a>
                <button
                    class="navbar-toggler"
                    type="button"
                    data-toggle="collapse"
                    data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
                >
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div
                    class="collapse navbar-collapse"
                    id="navbarSupportedContent"
                >
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <span class="navbar-text">
                                <em>Doing Fake Business Right</em>
                            </span>
                        </li>
                    </ul>

                    <a
                        href="/logout"
                        class="btn btn-outline-primary my-2 my-sm-0"
                        type="button"
                    >
                        Log Out
                    </a>
                </div>
            </nav>
        </header>
    
        <main class="container">
            <div class="row">
                <div class="col text-center my-5">
                    <h1>Employee Dashboard</h1>
                </div>
            </div>

            <div class="row">
                <div class="col mx-auto">
                    <form
                        action="/punch"
                        method="POST"
                    >
                        {% csrf_token %}
                        <div class="form-group row">
                            <button
                                type="submit"
                                class="btn btn-primary btn-lg mx-auto"
                                id="punch_button"
                            >
                                Punch In
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </main>

        <footer class="mt-4">
            <nav class="navbar fixed-bottom navbar-dark bg-dark text-light">
                <span class="navbar-text mx-auto">
                    <small
                        >Copyright &copy; {{currentYear}} Jonathan Kohen,
                        2020.</small
                    >
                </span>
            </nav>
        </footer>
        
        {% load static %}
        <script src="{% static "js/main.js" %}"></script>
        <script
            src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"
        ></script>
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"
        ></script>
        <script
            src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"
        ></script>
    </body>
    
</html>
