@import 'scss/typography';
@import 'scss/variables';

@import '../node_modules/bootstrap/scss/bootstrap';
// @import '../node_modules/bootstrap/scss/variables'; etc...

.textShadow {
    text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1),
        0px 18px 23px rgba(0, 0, 0, 0.1);
}

.textShadowSm {
    text-shadow: 0px 2px 1px rgba(0, 0, 0, 0.4), 0px 2px 3px rgba(0, 0, 0, 0.1),
        0px 6px 8px rgba(0, 0, 0, 0.1);
}

.btnLight {
    &:hover {
        background-image: linear-gradient(90deg, $primary, $primary_light);
    }
}

#tableNames {
    color: $secondary_dark;
}

#view {
    color: $tertiary;
}
